<%  @client = Twitter::REST::Client.new do |config|
    config.consumer_key        = ENV['twitter_consumer_key']
    config.consumer_secret     = ENV['twitter_consumer_secret']
    config.access_token        = ENV['twitter_access_token']
    config.access_token_secret = ENV['twitter_access_secret']
    end %>

<% if !@twitter_feed.empty? && !@giphy.empty? && !@filmography.empty? %>
  <div id="twitter" class="vertical-scroll">
  <% @twitter_feed.each do |tweet| %>
    <%= @client.oembed(tweet).html.html_safe %>
  <% end %>
  </div>

  <div id="giphy" class="vertical-scroll">
  <% @giphy.each do |gif| %>
    <iframe src="<%= gif %>" width="400" height="200" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  <% end %>
  </div>

  <div id="filmography" class="vertical-scroll">
  <ul>
    <% @filmography.each do |film| %>
      <li><%= film %></li>
    <% end %>
  </ul>
  </div>

<% else %>
  <h1>THIS PERSON IS A MYSTERY.</h1>
<% end %>