<%  @client = Twitter::REST::Client.new do |config|
    config.consumer_key        = ENV['twitter_consumer_key']
    config.consumer_secret     = ENV['twitter_consumer_secret']
    config.access_token        = ENV['twitter_access_token']
    config.access_token_secret = ENV['twitter_access_secret']
    end %>

<% if !@twitter_feed.empty? && !@giphy.empty? && !@filmography.empty? %>
  <div class="container" style="width: 100%;">
    <div class="row" style="height: 400px; overflow: auto;">
      <div id="twitter" class="vertical-scroll col-md-4">
      <% @twitter_feed.each do |tweet| %>
        <%= @client.oembed(tweet).html.html_safe %>
      <% end %>
      </div>

      <div id="giphy" class="vertical-scroll col-md-4">
      <% @giphy.each do |gif| %>
        <iframe src="<%= gif %>" width="550" height="300" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      <% end %>
      </div>

      <div id="filmography" class="vertical-scroll col-md-4" style="text-align: left;">
        <% @filmography.each do |film| %>
          <%= film %><br>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="text-center" style='text-align: center;'><h1>THIS PERSON IS A MYSTERY.</h1></div>
<% end %>