<h1>Where Are They (Literally) Right Now?</h1>

<%= form_for(@search, remote: true) do |f| %>
  <%= f.text_field :movie_search, id: 'movie_search', placeholder: 'Enter a movie title!' %>
  <%= f.submit "Search", class: 'search-btn' %>
<% end %>



	<div id="messages">
		<% if flash[:notice] %>
			<% binding.pry %>
			<%= flash[:notice] %>
		<% end %>
	</div>
  <section id="movie_poster"></section>
  <section id="movie_title"></section>


<section id="cast"></section>

<section id="twitter"></section>