/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
/*@import "bootstrap";*/
/* Some Style from the Bootstrap Default Theme */
body {
  padding: 15px 0 30px 0;
}

.footer-text, .footer-text a {
  text-align: center;
  color: white;
  font-size: 1em;
}

.footer-text a:hover {
  color: white;
  text-decoration: underline;
}

.navbar-default {
  background-color: red;
  border-color: red;
  padding: 1.05em;
  height: 20px;
  position: fixed;
}

.container {
  text-align: center;
  padding: 0;
  width: 100%;
}

.input-group {
  text-align: center;
  margin: auto;
  width: 50%;
  font-family: Helvetica Neue, sans-serif;
}

h1 {
  padding: 50px;
}

#filmography h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
}

.horizontal-scroll {
  height: 400px;
  white-space: nowrap;
  overflow-x: scroll;
}

.movie-card, .actor-card {
  margin: 5px;
  display: inline-block;
}

.actor-card {
  height: 250px;
  width: 200px;
  padding: 10px; 
  text-align: center;
  margin: auto;
  white-space: normal;
}

.vertical-scroll {
  width: 50%;
  float: left;
  overflow: auto;
  margin: auto;
  height: 500px;
  padding-bottom: 30px;
}

#movie-section, #cast-section, #info-section {
  width: 100%;
  background-color: #eeeeee;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}

#info-section {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

#movie-scroll, #actor-scroll {
  padding-bottom: .5em;
}

#giphy {
  width: 40%;
  text-align: center;
  padding: 0;
}

#filmography {
  font-size: 20px;
  padding: 0 20px;
  text-align: left;
}

#sources {
  display: inline-block;
  width: 100%; 
}

.source {
  height: 500px;
  width:800px;
  margin:auto;
}

.text-center {
  text-align: center;
}