// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  text-align: center;
}

#cast {
  margin: 0;
}

#movie {
  margin: 0;
}

.actor-card, .movie_card {
  height: 250px;
  width: 200px;
  margin: 20px;
  display: inline-block;
}

