// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  text-align: center;
  margin: auto;
}

.input-group {
  text-align: center;
  margin: auto;
  width: 50%;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

h1 {
  padding: 20px;
}

li {
  list-style-type: none;
}

.horizontal-scroll {
  height: 400px;
  white-space: nowrap;
  overflow-x: scroll;
}

.movie-card, .actor-card {
  margin: 5px;
  display: inline-block;
}

.actor-card {
  height: 250px;
  width: 200px;
  padding: 10px; 
  text-align: center;
  margin: auto;
}

.vertical-scroll {
  width: 30%;
  float: left;
  overflow: auto;
  margin: auto;
}

#giphy {
  width: 40%;
  text-align: center;
  padding: 0;
}

#filmography {
  width: 30%;
  font-size: 20px;
  font-family: Arial, sans-serif;
  padding: 0 10px 0 0;
}

#cast {
  margin: 0;
  width: 100%;
}