<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="footer-text">Made by <a href="http://www.github.com/casie">Casie Levine</a>, <a href="http://www.github.com/rnackman">Rachel Nackman</a>, <a href="http://www.github.com/deniznida">Deniz Unat</a> & <a href="http://www.github.com/michaelteja">Michael Tejada</a> at <a href="http://www.flatironschool.com">Flatiron School</a>. | <a href="http://www.github.com/michaelteja/where-are-they">See our source code.</a> | We love feedback!</div>
</div>