<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="footer-text">Made by <a href="http://www.github.com/agoldvarg">Casie Levine</a>, <a href="http://www.github.com/rnackman">Rachel Nackman</a>, <a href="http://www.github.com">Deniz Unat</a> & <a href="http://www.github.com/rnackman">Michael Tejada</a> at <a href="http://www.flatironschool.com">Flatiron School</a>. | <a href="http://www.github.com/michaelteja/where-are-they">See our source code.</a> | <a href="mailto: TK@TK.COM">We love feedback!</a></div>
</div>